
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body {
    font-family: 'Helvetica', sans-serif;
}

.title-text {
    /* font-family: 'Merriweather', serif; */
    font-family: 'Lora', serif;
    color: #f5d550;
    letter-spacing: 0.5rem
}

.subtitle-text {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.35rem;

}

.header {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header::before {
    content: '';
    background-image: url('./header.jpg');
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* opacity: 0.85; */
    filter: brightness(70%);
}

@media (max-width: 575.98px) {
        .display-1 {
            font-size: 4.25rem;
            line-height: 1.2;
        }
    
        .display-2 {
            font-size: 3.75rem;
            line-height: 1.2;
        }
    
        .display-3 {
            font-size: 2.45rem;
            line-height: 1.2;
        }
    
        .display-4 {
            font-size: 1.75rem;
        }

        .subtitle-text {
            font-size: 90%;
            line-height: 1.4;
        }

}




.scroll-down {
    border: 2px solid #fff;
    border-radius: 20px;
    bottom: 40px;
    height: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 30px;
  }
  .scroll-down::before {
    animation: scrollDownAnimation 2s infinite;
    background-color: #fff;
    border-radius: 100%;
    content: '';
    height: 6px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
  }
  @-moz-keyframes scrollDownAnimation {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes scrollDownAnimation {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 0;
    }
  }
  @-o-keyframes scrollDownAnimation {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes scrollDownAnimation {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
      transform: translate(0, 20px);
    }
    100% {
      opacity: 0;
    }
  }
  